.section {
  background-color: transparent;
}

html {
  background: url(http://i.imgur.com/aQK5AhD.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  background-color: transparent !important;
}

btn {
  padding: 30px;
  text-align: center;
}

btn-sml {
  padding-top: 60px;
}

h1 {
  color: #272822;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 40px;
}

.parent {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 20px auto;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
}

.obliques {
  color: #272822;
  font-family: 'Cabin Condensed', sans-serif;
  text-size: large;
}

.prompts {
  color: #F8F8F2;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
}
